img {
 width: 500px; height: 372px;

}

#slideshow {
  
  margin:50px auto;
  position:relative;
  width:520px;
  height:392px;
  padding:10px;
  box-shadow:0 0 20px rgba(0,0,0,0.4);
  }

#slideshow > div {
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom: 10px;
  
  }
  .galeria{
  background:url(../images/fondo.png) no-repeat;
  background-size: 100%;
  -webkit-background-size:100%; 
  -moz-background-size:100%;
  -o-background-size:100%;
  -ms-background-size:100%;
  /*min-height:700px; */
  text-align:left;
}