body{
	background-image: url(../images/fondo_maquina.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	
}
footer{
	border-radius: 20px 20px 20px 20px;
	text-align: center; /* Puedes cambiarlo por center o right */
	background-color: #0032AB;
	color: #FFFFFF;
	
	font-size: 20px;
	font-weight: bold;
	margin-left: 100px;
	position: absolute;
	bottom: 0;
	width: 1150px;
}

#facebook{
	position: absolute;
	z-index: 4;
	top: 578px;
	right: 122px;
}